

body {
    background: rgb(146, 96, 96);
    color: white;
    padding: 20px 50px;
}
main {
    display: flex;
    flex-flow: column;
}

.center {align-items: center;
    text-align: center;
}
.left {align-self: flex-start;}
.border-thick {border: solid black 5px}

.grid {
    display: grid;
    grid-template-columns: repeat(40, 1fr);
    grid-template-rows: repeat(40, 1fr);
}
#contact_form {
    grid-area: contact;
}
#animated_nav {
    grid-area: nav;
}
#habit_tracker {
    grid-area: habit;
}
#loading_screen {
    grid-area: loading;
}
#progress_tracker {
    grid-area: progress;
}
#planner {
    grid-area: planner;
}
