

body {
    color: rgb(124, 45, 45);
    padding: 20px 50px;
}
main {
    display: flex;
    flex-flow: column;
}

.center {align-items: center;
    text-align: center;
}
.left {
    align-self: flex-start;
    text-align: left;
}
.border-thick {border: solid black 5px}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-template-areas: 
    "fontDisplay challenge . . "
    ;
    gap: 10px;
}
#contact_form {
    grid-area: contact;
}
#animated_nav {
    grid-area: nav;
}
#habit_tracker {
    grid-area: habit;
}
#loading_screen {
    grid-area: loading;
}
#progress_tracker {
    grid-area: progress;
}
#planner {
    grid-area: planner;
}
#fontDisplay {
    grid-area: fonts;
}
#challenges {
    grid-area: challenge;
}


.Display {
    width: 400px;
    height: 450px;
    border: 1px solid black;
}
.displayImg {
    max-width: 400px;
    max-height: 300px;
}