
body {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img { 
    max-width: 800px;
    max-height: 800px;
    margin: 30px;
}


a {
    margin-bottom: 40px;
    font-size: 3em;
}