
body {
    text-align: center;
    padding-top: 80px;
    margin: 0;
}
a {
    bottom: 0px;
    margin-top: 40px;
    font-size: 3em;
}
img {
    width: 100%;
}
.display {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 1em;
    margin-bottom: 50px;
}

nav {
    position: fixed;
    width: 100%;
    top: 0;
    background: linear-gradient(to left, rgb(31, 30, 30), rgb(46, 45, 45), rgb(31,30,30));
    margin: 0;
    padding: 10px;
}

@media (max-width: 800px) {
    img {
        width: 100%;
        margin: .5em;
    }
    .display {
        display: inline;
        columns: 400px;
    }
}