



body {
    margin: 0;
    padding: 0;
    background: rgb(21, 63, 65);
}
a {text-decoration: none;}


/*universal classes*/
.text-center {text-align: center;}
.left, .right {position: absolute;}
.left {left: 5px;}
.right {right: 5px;}
.top {top: 10%;}
.top-marg-large {margin-top: 20%;}
.ten-pad {padding: 10px;}
.bord-rad-fifty {border-radius: 50%}
.back-white {background: white;}
.black { color:black; fill: black}
.gold {color: gold;}
.gold-bord {border: solid 1px gold;}
.bord-rad-twenty {border-radius: 20px;}
.auto-marg {margin: auto;}
.clear-back {background-color: rgba(255, 255, 255, 0);}
.white {color: white;}

/*svg images*/
svg {
    height: 20px;
    width: 25px;
}





/*table*/
table {
    border-spacing: 100px;
}








/*nav-bar*/
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav li{
    display: inline;
}

nav a {
    background: blue;
    color: white;
    font-size: 1.3em;
    padding: 10px;
    border-radius: 12px;
    text-decoration: none;
    box-shadow: rgba(11, 11, 189, 0.767) 0 4px 1px;
}

nav a:hover {
    background: rgba(28, 28, 216, 0.87);
}

nav a:active {
    box-shadow: none;
    background: rgb(38, 38, 250);
}
h4 {
    border-bottom: 2px solid black;
    padding-bottom: 20px
}