main {
    padding: 40px;
    background: rgb(230, 214, 214);
}
li {
    list-style-type: none;
}
a{
    text-decoration: none;
    color: indianred;
    font-size: 2em;
}
a:hover {
    color:blueviolet;
}
main {
    border-radius: 60px;
    box-shadow: rgb(70, 48, 122) 0px 0px 4px 1px;
}
main:hover {
    scale: 1.002;
}