main {
    padding: 40px;
    background: rgb(230, 214, 214);
}
li {
    list-style-type: none;
}
a{
    text-decoration: none;
    color: indianred;
    font-size: 2em;
}
a:hover {
    color:blueviolet;
}