
body {
    text-align: center;
}
a {
    bottom: 5px;
    margin-bottom: 40px;
    font-size: 3em;
}
img {
    width: 100%;
}
.display {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 1em;
}



@media (max-width: 800px) {
    img {
        width: 100%;
        margin: .5em;
    }
    .display {
        display: inline;
        columns: 400px;
    }
}