/* Basic Reset */
body, h1, h2, p {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Body Styles */
body {
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding-top: 40px;
    margin: 0;
}

/* Header Styles */
header {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2em;
}

/* Section Styles */
section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.profile-img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-right: 20px;
}

.info {
    max-width: 500px;
}

.info h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.info p {
    font-size: 1.2em;
}

/* Footer Styles */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

nav {
    position: fixed;
    width: 100%;
    top: 0;
    background: linear-gradient(to left, rgb(31, 30, 30), rgb(46, 45, 45), rgb(31,30,30));
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
}